@page "/asignatura"
<h3>Registro de Asignatura</h3>

<EditForm Model="Asignatura" OnValidSubmit="Guardar">
	<DataAnnotationsValidator />

	<div class="form-group">
		<label for="id">EstudianteId</label>
		<InputNumber @bind-Value="@Asignatura.AsignaturaId" class="form-control" />
		@*<button type="button" class="btn btn-outline-secondary" @onclick="Buscar">Buscar</button>*@
	</div>

	<div class="form-group">
		<label for="nombre">Codigo</label>
		<InputText @bind-Value="@Asignatura.Codigo" class="form-control" />
		<ValidationMessage For="@(()=>Asignatura.Codigo)" />
	</div>

	<div class="form-group">
		<label for="nombre">Nombres</label>
		<InputText @bind-Value="@Asignatura.Descripcion" class="form-control" />
		<ValidationMessage For="@(()=>Asignatura.Descripcion)" />
	</div>



	<div class="form-group">
		<label for="nombre">PreRequisito</label>
		<InputText @bind-Value="@Asignatura.PreRequisitos" class="form-control" />
		<ValidationMessage For="@(()=>Asignatura.PreRequisitos)" />
	</div>

	<div class="form-group">
		<label for="nombre">Creditos</label>
		<InputNumber @bind-Value="@Asignatura.Creditos" class="form-control" />
		<ValidationMessage For="@(()=>Asignatura.Creditos)" />
	</div>


	<div class="form-group">
		<button type="submit" class="btn btn-outline-primary">Guardar</button>
	</div>

	<h5>@mensaje</h5>

</EditForm>


@code {
	public Asignaturas Asignatura { get; set; }
	string mensaje;
	AsignaturaController controller = new AsignaturaController();

	protected override void OnInitialized()
	{
		Asignatura = new Asignaturas();
	}

	public void Guardar()
	{
		if (controller.Guardar(Asignatura))
		{
			mensaje = "asignatura guardada";
		}
		else
		{
			mensaje = "error al guardar";
		}
	}
}
