@page "/estudiante"
<h3>Registro de Estudiantes</h3>

<EditForm Model="Estudiante" OnValidSubmit="Guardar">
	<DataAnnotationsValidator/>

	<div class="form-group">
		<label for="id">EstudianteId</label>
		<InputNumber @bind-Value="@Estudiante.EstudiantesId" class="form-control"/>
		<button type="button" class="btn btn-outline-secondary" @onclick="Buscar">Buscar</button>
	</div>

	<div class="form-group">
		<label for="nombre">Nombres</label>
		<InputText @bind-Value="@Estudiante.Nombres" class="form-control"/>
		<ValidationMessage For="@(()=>Estudiante.Nombres)"/>
	</div>
	
	<div class="form-group">
		<label for="matricula">Matricula</label>
		<InputText @bind-Value="@Estudiante.Matricula" class="form-control"/>
	</div>

	<div class="form-group">
		<label for="deuda">Deuda</label>
		<InputNumber @bind-Value="@Estudiante.Deuda" class="form-control" disabled/>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-outline-primary">Guardar</button>
		<button type="button" class="btn btn-outline-danger" @onclick="Eliminar">Eliminar</button>
	</div>

	<h5>@mensaje</h5>

</EditForm>

@code {

	protected override void OnInitialized()
	{
		Estudiante = new Estudiantes();
	}

	public Estudiantes Estudiante { get; set; }
	public string mensaje;
	EstudianteController controller = new EstudianteController();

	public void Guardar()
	{
		if (controller.Guardar(Estudiante))
		{
			mensaje = "Estudiante guardado";
		}
		else
		{
			mensaje = "error al guardar";
		}
	}

	public void Buscar()
	{
		var estudiante = controller.Buscar(Estudiante.EstudiantesId);

		if (estudiante !=null)
		{
			Estudiante = estudiante;
		}
		else
		{
			mensaje = "estudiante no existe";
		}
	}

	public void Eliminar()
	{
		var estudiante = controller.Buscar(Estudiante.EstudiantesId);

		if (estudiante !=null)
		{
			controller.Eliminar(Estudiante.EstudiantesId);
			mensaje = "estudiante eliminado";
		}
		else
		{
			mensaje = "estudiante no existe";
		}
	}


}
